.banner__container {
  position: relative;
  overflow: hidden;
  height: 25rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__container:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: -3.2rem;
  border-right: calc(100vw + 3.2rem) solid #fff;
  border-top: 7rem solid transparent;
  border-bottom: none;
}

.ideas__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 6rem;
}

.ideas__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.6rem, max-content));
  gap: 1.5rem;
}

.pagination {
  margin: 1rem auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.pagination > li {
  cursor: pointer;
}

.select__container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select__container > select {
  padding: 0.5rem 1rem;
  border-radius: 16px;
  box-sizing: border-box;
}
