.card__container {
  width: 300px;
  max-width: 100%;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 1px 2px 7px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__image {
  width: 100%;
  height: 12rem;
}

.card__image > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__content {
  padding: 0 1rem 1.5rem;
  font-weight: bold;
}

.card__content > p {
  color: #b5b0b0;
  font-size: 1.1rem;
  line-height: 10px;
  margin-bottom: 0.5rem;
}

.card__content > h3 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}
