.navbar__container {
  background-color: rgba(255, 104, 0, 0.7);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
}

.navbar__container.navbar__hide {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  position: fixed;
  width: 100%;
}

.navbar__container.navbar__fixed {
  position: fixed;
  width: 100%;
  transform: translateY(0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar__container > img {
  height: 3rem;
}

.navbar__actions {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

.navbar__actions li {
  cursor: pointer;
  color: #fff;
}

li.active__link {
  border-bottom: 2px solid #fff;
}

li:hover {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .navbar__actions {
    display: none;
  }
}
